<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task Manager - Home</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <h1>Welcome to the Task Manager Home Page!</h1>
    <hr>
    <p>You can register and create tasks to easily follow them</p>
    <p>or something</p>
    <p>That's a pretty empty index page, it's really too simple</p>
  </main>
  <%- include('partials/footer') %>
</body>
</html>
